---
---

@import 'config';

@import 'bourbon/bourbon';

@import 'base/poole';
@import 'base/layout';
@import 'base/global';
@import 'base/syntax';

@import 'component/sidebar';
@import 'component/hero';
@import 'component/post';
@import 'component/page';
@import 'component/tag';
@import 'component/masthead';
@import 'component/pagination';



a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  a.svg {
    position: relative;
    display: inline-block;
  }
  
  .under-construction {
    color: #9a9a9a;
    margin-top: 35px;
    font-weight: 300;
  }



.project-thumbnail-home { padding-left: 0px; padding-top: 2px; }
.project-title-home { padding-left: 0px; padding-right: 0px; font-size: 16px }
.project-description-home { padding-left: 0px; padding-right: 0px; font-size: 14px }
.project-links-home { padding-left: 0px; padding-right: 0px; font-size: 12px; }
.publication-home { margin-bottom: 20px; margin-top: 10px; }
.img-responsive-home {  width:100%; border:1; }

.bibtex-home {padding-left: 0px; }
.bibtex-home pre {font-size: 80%; padding-top: 0px; }

.content-home{ margin: 1px; color: brown}

