<tr>         
        <td width="20%" valign="top">
          <!-- image -->
          <div class="col-sm-2 project-thumbnail-home"></div>
          <img src="public/img/comingsoon.jpg" class="img-responsive-home" alt="ContextLocNet">
          </div>
  
          <!-- description -->
          <td width="80%" valign="top">
            <div class="project-title-home">
            <strong>Name ...</strong>
            </div>          
            <div class="project-description-home">
              Pedro D. Marrero Fernández, ; <em> - </em> 20XX.
            </div>
            <div class="project-links-home" id="attfer_bib" >            
              [<a href="paper.html">paper</a>] &nbsp;
              [<a href="https://arxiv.org/abs/">arxiv</a>] &nbsp;
              [<a href="https://github.com/pedrodiamel/">code</a>] &nbsp;
              [<a href="javascript:toggleblock('attfer_abs')">abstract</a>] &nbsp;
              [<a href="javascript:togglebib('attfer_bib')" shape="rect" class="togglebib">bibtex</a>] &nbsp;
  
              <div class="bibtex-home"  >
                <p align="justify" > <i id="attfer_abs" style="display: none;"> Abstract... </i></p>
                <pre style="display: none;">
  bibTeX ...
                </pre> 
              </div>
            </div>
          </td> 
        </tr>
        </td>
      </tr>
  